pyqt5==5.15.11
pyqtwebengine==5.15.7
git+https://github.com/deeffest/PyQt-Fluent-Widgets.git@2d515e6
pywinstyles==1.8; sys_platform=="win32"
requests==2.32.5
packaging==25.0
pynput==1.8.1
git+https://github.com/deeffest/Discord-RPC.git@5324548
pyinstaller==6.17.0
black==25.12.0
flake8==7.3.0
