pynput==1.8.2
flake8==7.3.0
black==26.5.1
pyside6==6.8.3
packaging==26.2
requests==2.34.2
pyinstaller==6.19.0
numpy==2.4.6; sys_platform=="win32"
comtypes==1.4.16; sys_platform=="win32"
soundfile==0.14.0; sys_platform=="win32"
pyaudiowpatch==0.2.12.8; sys_platform=="win32"
git+https://github.com/deeffest/Discord-RPC.git@5324548
git+https://github.com/deeffest/PyQt-Fluent-Widgets.git@53785c6
