QMenu {
    background-color: rgb(43,43,43);
    color: white;
    border: 1px solid rgb(93,93,93);
    padding: 2px 2px; 
}
QMenu::icon {
    padding-left: 5px;
    padding-right: 5px;
}
QMenu::item {
    background-color: rgb(43,43,43);
    padding: 4px 8px;
    margin: 0px;
}
QMenu::item:selected {
    background-color: rgb(60,60,60);
}
QMenu::item:disabled:selected {
    background-color: rgb(53,53,53);
}
QMenu::item:disabled {
    background-color: rgb(43,43,43);
    color: rgb(109,109,109);
}
QMenu::separator {
    height: 1px;
    background-color: rgb(93,93,93);
    margin: 3px 3px;
}

QToolTip {
    background-color: rgb(44,44,44);
    border: 1px solid rgb(93,93,93);
    color: white;
}