QMainWindow {
    background-color: rgb(39,39,39);
    color: white;
}

QDialog {
    background-color: rgb(39,39,39);
    color: white;
}

QFrame#ToolBar {
    background-color: rgb(30,30,30);
    border-bottom: 1px solid rgb(41,41,41);
}

QFrame#ButtonBox {
    background-color: rgb(32,32,32);
    border-top: 1px solid rgb(29,29,29);
}

QFrame#SideBar {
    background-color: rgb(28,28,28);
}

QFrame#SettingBox,
QFrame#SettingBox2,
QFrame#SettingBox3,
QFrame#SettingBox4,
QFrame#SettingBox5,
QFrame#SettingBox6,
QFrame#SettingBox7,
QFrame#SettingBox8,
QFrame#SettingBox9,
QFrame#SettingBox10,
QFrame#SettingBox11,
QFrame#SettingBox12,
QFrame#SettingBox13,
QFrame#SettingBox14 {
    border-radius: 5px;
    background-color: rgb(50,50,50);
    border: 1px solid rgb(35,35,35);
}

QWidget#scrollAreaWidgetContents {
    background-color: rgb(39,39,39);
}

QToolTip {
    background-color: rgb(31,31,31);
    border: 1px solid rgb(202,202,202);
    color: rgb(202,202,202);
    padding: 2px;
}
